include utils/mixins.pug

+random([
    'Что говоришь? Я тебя не понимаю!',
    'Согласно правилам Энвелла, пользователь, который не находится в чате, не может пользоваться моими справками!',
    'Ты не можешь'
])