- let hasItems = items.length && items.reduce((prev, curr) => prev + (curr.count ?? 0), 0)

b Твой инвентарь:
|
|
|
if hasItems
    each item in items
        if item.count != 'x0'
            code 📍 #{item.name}
            |  - 
            b #{item.count}
            |
            |
    |
else 
    | (пусто)