b Твой инвентарь:
|
|
|
if items.length
    each item in items
        if item.count != 'x0'
            code 📍 #{item.name}
            |  - 
            b #{item.count}
            |
            |
    |
else 
    | (пусто)