b 📌 Топ самых богатых игроков:
|
|
|
- for(let i = 0; i < casinos.length; i++) {
    - let user = users.find(user => user.id == casinos[i].id)
    | #{i + 1}. 
    a(href=`tg://user?id=${user.id}`)=user.name
    |  - #{casinos[i].money}
    |
- }