include utils/functions.pug

- let minNumber = formatNumber(min) ?? `-${infinitySymbol}`
- let maxNumber = formatNumber(max) ?? `${infinitySymbol}`

| Введите фразу длиной от 
code #{minNumber}
|  до 
code #{maxNumber}
| :