mixin list(text)
    |
    | 📍 #{text}

b ПОКУПАЙТЕ ПОДПИСКУ!!!!
|
|
| ПРЕИМУЩЕСТВА:
|
+list('+25% к заработку с работы')
+list('Добавляет доступ к премиум-товарам')
+list('Добавляет доступ к премиум-командам')
+list('Дает скидку товарам')