include utils/mixins.pug

- const text = isBanned ? 'Теперь он не сможет вернуться в чат самостоятельно,' : 'Ничего не случилось, но'

| Игрок 
+link(user)
| купил 
u #{item}
| !
| 
| #{text} любопытство победило!