include utils/mixins.pug

- const fullTitle = rawTitle || `Топ самых ${property} игроков`
- 
    const values = sorted.reduce((prev, {user, value}) => {
        if(!prev[value]) prev[value] = []

        prev[value].push(user)
        return prev
    }, {})

mixin line(user)
    |
    | 📍 
    +link(user)
    |

b  #{emoji} #{fullTitle}:
|
|
- for(let key in values) {
    - const objects = values[key]
    |
    |
    b #{key}
    |
    each obj in objects
        +line(obj)
    |
    |
- }