b ๐ ะกะฟะธัะพะบ ะฟะพะปัะทะพะฒะฐัะตะปััะบะธั ัะฟ-ะบะพะผะฐะฝะด:
|
|
|
each command in commands
    - let [name, text] = command
    b ๐ #{name} 
    | - "ะะณัะพะบ #{text} ะธะณัะพะบะฐ"
    |