include utils/mixins.pug

-
    const emojies = [
        'рҹ‘Қ', 'рҹ‘Һ', 'вқӨ', 'рҹ”Ҙ', 'рҹҘ°', 'рҹ‘Ҹ', 'рҹҳҒ', 'рҹӨ”', 'рҹӨҜ', 'рҹҳұ', 
        'рҹӨ¬', 'рҹҳў', 'рҹҺү', 'рҹӨ©', 'рҹӨ®', 'рҹ’©', 'рҹҷҸ', 'рҹ‘Ң', 'рҹ•Ҡ', 'рҹӨЎ', 
        'рҹҘұ', 'рҹҘҙ', 'рҹҳҚ', 'рҹҗі', 'вқӨвҖҚрҹ”Ҙ', 'рҹҢҡ', 'рҹҢӯ', 'рҹ’Ҝ', 'рҹӨЈ', 'вҡЎ', 
        'рҹҚҢ', 'рҹҸҶ', 'рҹ’”', 'рҹӨЁ', 'рҹҳҗ', 'рҹҚ“', 'рҹҚҫ', 'рҹ’Ӣ', 'рҹ–•', 'рҹҳҲ', 
        'рҹҳҙ', 'рҹҳӯ', 'рҹӨ“', 'рҹ‘»', 'рҹ‘ЁвҖҚрҹ’»', 'рҹ‘Җ', 'рҹҺғ', 'рҹҷҲ', 'рҹҳҮ', 'рҹҳЁ', 
        'рҹӨқ', 'вңҚ', 'рҹӨ—', 'рҹ«Ў', 'рҹҺ…', 'рҹҺ„', 'вҳғ', 'рҹ’…', 'рҹӨӘ', 'рҹ—ҝ', 
        'рҹҶ’', 'рҹ’ҳ', 'рҹҷү', 'рҹҰ„', 'рҹҳҳ', 'рҹ’Ҡ', 'рҹҷҠ', 'рҹҳҺ', 'рҹ‘ҫ', 'рҹӨ·вҖҚвҷӮ', 
        'рҹӨ·', 'рҹӨ·вҖҚвҷҖ', 'рҹҳЎ'
    ]

- const emoji = () => emojies[Math.floor(Math.random() * emojies.length)]
- let pings = 1

blockquote #{text || 'РҹСҖРёР·СӢРІР°СҺ!'}
|
|
each linkAndEmoji in linksAndEmojies
    - const {link, emoji: userEmoji} = linkAndEmoji
    +link({link, name: userEmoji || emoji()})
    |        
    if pings > 0 && pings % 5 == 0
        |
        |
    - pings++