include utils/functions.pug
include utils/mixins.pug

b 🎲 ВНИМАНИЕ!
|
| Игрок 
+link(first)
| предлагает сыграть в кубы на #{cost > 0 ? `${formatNumber(cost)} 💰` : 'интерес'} игроку 
+link(second)
| .
|
|
b Правила следующие:
|
| Кому больше выпадает число, то и выиграл.
| Если одному из игроков выпала единица, он выигрывает х2 сумму!
|
|
b Важные упоминания: 
|
| 📍 Игроки, оставшиеся без монет, могут вылететь из чата!