include utils/mixins.pug

| Игрок 
+link(user, false)
| , не удалось импортировать значения для 
u #{title}
| !
|
| Возможные причины:
+pins([
    `Недостаточный ранг (Нужен: ${rank} ранг)`,
    'Неподходящие данные'
])