mixin warn(text, emoji = '❗️')
    | #{emoji} 
    code #{text}
    |
    |

b Отправь мне картинку с текстом!
|
|
| Текст должен выглядить следующим образом:
blockquote
    | [Название, макс. длина - #{nameLength} символов]
    | [Описание, макс. длина - #{descriptionLength} символов]
    | [Редкость от 1 до 6]
|
|
|
b Пример текста:
blockquote
    | Баквит
    | Лучший помощник в мире Энвелла!
    | 5
|
|
|
+warn('Карточка должна быть связана с Энвеллом!')
|
+warn('Пишите грамотно, соблюдая грамматику и пунктуацию!', '⚠️')
+warn('Пожалуйста, используйте картинки хорошего качества!', '⚠️')
|
+warn('Отправьте что-то без изображения, чтобы выйти из этого режима!', '❕')