include utils/functions.pug

mixin text(title, value)
    | 📍 #{title}: 
    b #{value}
    |
    |

mixin mark(title, value)
    +text(title, bool(value))

b 📌 Информация о чате:
|
|
|
+mark('Премиум', isPremium)
if isPremium
    +text('Время до конца премиума', untilDate)
+mark('Есть приветствие', hasHello)
+text('Количество правил', rulesLength)