include utils/functions.pug
include utils/mixins.pug

mixin price(user)
    | Взнос от игрока 
    +link(user, false)
    | - 
    b #{formatNumber(user.price)} 💰
    | 
    |

| 🧤 Игрок 
+link(reply, false)
| , вы были вызваны на дуэль игроком 
+link(user, false)
| !
|
|
+price(user)
+price(reply)
|
|
b Примете вызов или бесчестиво откажетесь?