mixin commands(arr)
    each command in arr
        code баквит #{command}
        | , 

b Я не отвечаю на такие команды!
|
| Лучше попробуй команды 
+commands(['команды', 'рп'])
| чтобы узнать, какие команды есть!