include utils/mixins.pug

| Игрок 
+link(user, false)
| , в данном чате нельзя работать!
| Попробуй команду 
code баквит привязать
| , после чего напиши мне 
u в личные сообщения
| , чтобы заработать!