include utils/functions.pug

mixin param(title, value)
    |
    | #{title}: 
    b=formatNumber(value)
    |

b 📌 Моя статистика:
|
|
+param('Количество чатов', chats)
|
+param('Количество премиум-чатов', premiums)
|
|
+param('Количество аккаунтов', users)
|
+param('Количество пользователей', uniqueUsers)