| Добро пожаловать в 
a(href=`tg://chat`)=chatName
| ! Я ваш проводник - Баквит!
|
u После прочтения, нажмите кнопку 
    i Посвящение 
    | снизу!

|
|
|
a(href=link) #{name}
| , #{text || 'привет!'}