include utils/functions.pug
include utils/mixins.pug

| Игрок 
+link(user)
| выстрелил в 
if replyId == id
    | себя 
else
    | игрока 
    +link(reply)
| из 
u #{gunTitle}
| !
| Игрок 
+link(reply)
if shield
    | не получает урон!
    | Он был защищен предметом 
    u #{shield.name}
    | !
else
    | получает 
    code #{formatNumber(damage)}
    |  урона #{isKicked ? 'и вылетает из чата' : ''}!