include ./mixins.pug
include ./functions.pug

mixin item(item)
    - 
        const typeName = item.type == 'consumable' ?
            'Одноразовый' :
            'Многоразовый'

    b 📦 #{item.name}
    |
    |
    blockquote #{item.description || '...'}
    |
    |
    |
    +parameter('Тип', typeName)
    +parameter('Находится', bool(item.material))