include utils/mixins.pug

- const user = {name, link}

| Ну и ну, единица!
|
if !isFree 
    | Игрок 
    +link(user)
    | получает х2 сумму, а именно #{cost} монет!
else
    | Игрок 
    +link(user)
    | выиграл!