include utils/functions.pug
include utils/mixins.pug

| Дуэль между 
+link(winner)
| и 
+link(loser)
| закончилась, победил 
+link(winner, false)
| !
| Он получает #{formatNumber(prize)}💰!
|
if experience > 0
    | Игроки получают #{formatNumber(experience)} опыта!