include utils/mixins.pug
include utils/functions.pug

mixin stats(title, obj)
    |
    u #{title}:
    |
    +param('Здоровье', obj.hp)
    +param('Мана', obj.mana, 4)
    |
    |

b Дуэль между 
+link(you)
| и 
+link(enemy, false)
| :
|
| Текущий шаг у игрока 
+link(you, false)
| !
| Всего шагов: 
b #{formatNumber(steps)}
|
|
|
+stats('Вы', you)
|
|
+stats('Противник', enemy)
|
| Что будете делать?