include utils/mixins.pug

- let index = 0

mixin command(command, description)
    | #{++index}. 
    code баквит #{command} 
    | - #{description}
    |

+faq('ГЛАВНЫЕ КОМАНДЫ:')
    +command('создатель', 'позволяет создателю чата получить 5 ранг')
    +command('команды', 'позволяет узнать все мои команды')
    +command('как', 'позволяет уточнить некоторые вопросы')