b ГЛАВНЫЕ КОМАНДЫ:
| 
| 
| 1. 
code баквит создатель 
| - позволяет создателю чата получить 5 ранг
| 2. 
code баквит команды 
| - позволяет узнать все мои команды
| 3. 
code баквит как 
| - позволяет уточнить некоторые вопросы