include utils/mixins.pug

mixin commands(arr)
    |
    each text in arr
        |
        | 📍 
        code баквит #{text[0]}
        |  - #{text[1]}
        |
    |

+faq('Как играть в дуэли?')
    |
    | Дуэли так долго делались, что я забыл, как в них играть!
    | Помню, что будут полезны следующие команды:
    +commands([
        ['дуэль', 'позволяет вызвать человека на дуэль, если выделить его сообщение'],
        ['навыки', 'позволяет выбрать нужные навыки для дуэли'],
        ['эффекты', 'показывает весь список эффектов, если есть книга эффектов'],
        ['хп', 'показывает твои ману и здоровье'],
        ['сохраниться', 'восстанавливает тебе характеристики до максимума'],
    ])
    |
    |
    |
    b ❕ Также хочу дополнить, что один шаг может длиться максимум 5 минут!