include utils/functions.pug
include utils/mixins.pug

mixin commands(arr)
    |
    - let i = 0
    each text in arr
        |
        | #{formatNumber(++i)}. 
        code баквит #{text[0]}
        |  - #{text[1]}
        |
    |

+faq('Как играть в дуэли?')
    |
    | Для начала дуэли нужно подготовиться:
    |
    +commands([
        ['класс', 'вы выбираете ваш класс, если еще не выбрали'],
        ['сохраниться', 'восстанавливаете себе характеристики до максимума. До и после выбора класса, ваши здоровье и мана нулевые'],
        ['хп', 'убедитесь, что характеристики восстановились'],
        ['навыки', 'выбираете себе навыки для сражения'],
        ['эффекты', 'просматриваете весь список эффектов для понимания какие эффекты что делают (если есть книга эффектов)'],
    ])
    |
    | После этого вы можете выделить сообщение другого игрока и написать команду 
    code баквит дуэль
    | . 
    | Если у вас достаточно здоровья, денег и имеется класс, то при соглашение соперника, дуэль начнется!
    |
    | ❕ Также хочу дополнить, что один шаг может длиться максимум 5 минут! 
    | ❕ В случае, если время прошло, а вы не походили, ваш соперник может вызвать любую команду и победить!