include utils/mixins.pug

mixin commands(arr)
    |
    each text in arr
        |
        | 📍 
        code #{text}
        |
    |

+faq('Как играть в дуэли?')
    | Дуэли так долго делались, что я забыл, как в них играть!
    | Помню, что будут полезны следующие команды:
    +commands([
        'баквит дуэль',
        'баквит навыки',
        'баквит эффекты',
        'баквит хп',
        'баквит сохраниться',
    ])