include utils/mixins.pug

+faq('⏳ Если долго думаю')
    | С обновления 
    code 1.4.3
    | , у меня появилась очередь обработки запросов (ваших сообщений, нажатий на кнопки и прочих взаимодействий)!
    |
    | Это было сделано для того, чтобы в случае большой нагрузки, Телеграм не давал мне ошибку о большом количестве запросов, надеюсь это поможет!