include utils/mixins.pug

+faq('Если долго думаю')
    | С обновления 
    code 1.4.3
    | , у меня появилась очередь обработки запросов (ваших сообщений, нажатий на кнопки и прочих взаимодействий)!
    |
    | Также начиная с версии 
    code 1.4.9
    |  появилось ограничение запросов от пользователя (1 запрос в секунду), а с версии 
    code 1.5.0
    |  появилось ограничение на чат (20 запросов в минуту)!
    |
    | Это было сделано для того, чтобы в случае большой нагрузки, 
    i Telegram 
    | не давал мне ошибку о большом количестве запросов, надеюсь это поможет!