include utils/mixins.pug

mixin item(title)
    |
    |
    code 📍 #{title}
    |  - 
    block
    |
    |

+faq('Способы заработка:')
    +item('Баквит работа')
        | команда, позволяющая выполнить квест и получить за это монеты, опыт и некоторые предметы
        | ➖ Также есть предметы, увеличивающие прибыль с работы: 
        code Повышение
        |  и 
        code Каталог с квестами
        | !

    +item('Баквит ген')
        | команда, позволяющая управлять генераторами монет
        |➖ Для работы нужна лицензия!

    +item('Казино')
        | если скинуть эмоджи 
        code 🎰
        | , то можно прокрутить казино и получить или потерять немного денег!
        | ➖ Также есть предметы, увеличивающие прибыль с казино: 
        code Улучшение на казино
        |  и 
        code Беспроигрышное казино
        | !

    +item('Процент от магазина Баквита')
        | дает прибыль с каждой покупки игроков в чате
        |➖ Для приобретения требует максимальный уровень, а также доступно всего 100% на весь чат!

    +item('Шкатулка жадности')
        | выдает любое количество денег, если вы владеете ей!
        |➖ Одна на чат, не имеет минусов, кроме высокой цены