include utils/mixins.pug

+faq('Способы заработка:')
    |
    | 1. Команда 
    code баквит работа
    |
    |   - Также советую купить их:
    |       - 
    code Повышение
    |  - предмет, пассивно увеличивающий получаемый доход с работы
    |       - 
    code Каталог
    |  - предмет, который уменьшает интервал работы до 1 часа(было 3)
    |       - 
    code Премиум-подписка
    |  - увеличивает доход еще на 25%, а также дает доступ к премиум-фишкам
    |
    | 2. 
    code Беспроигрышное казино
    |  - если достаточно долго крутить казино с этим предметом, оно 100% окупится.
    |
    | 3. Команда 
    code баквит кубы
    |  - обыгрывай игроков в кубы на монеты
    |
    | 4. Команда 
    code баквит донат
    |  - отдай звезды, получи монеты
    |
    | 5. 
    code Шкатулка жадности
    |  - вводишь команду 
    code баквит шкатулка 1000000
    | , получаешь 1 000 000 монет, все просто!