include utils/mixins.pug

mixin item(title)
    code 📍 #{title}
    |  - 
    block

+faq('Способы заработка:')
    +item('баквит работа')
        | команда, позволяющая выполнить квест и получить за это монеты, опыт и некоторые предметы