include utils/mixins.pug

+faq('Материалы')
    +pins([
        'Все предметы со свойством "Находится" можно найти во время работы',
        'Материалы используются для крафтов предметов с помощью перчатки инженера',
        'Рецепты открываются с каждым новым уровнем',
    ])