include utils/mixins.pug

+faq('Какие есть настройки?')
    |
    | Настройки бывают 
    u следующими
    | :
    |
    +pins([
        'Для чата - вызываются командой "баквит настройки" в чате',
        'Для пользователя - вызываются командой "баквит настройки" у меня в личных сообщениях',
        'Для имен рангов - вызываются командой "баквит ранги"',
        'Для доступа команды - вызываются командой "баквит дк"',
        'Для доступа кнопок - вызываются командой "баквит дб"',
    ])