include utils/mixins.pug

mixin pins(arr)
    each value in arr
        - const [forWhat, command, place] = value
        | 
        | 📍 Для #{forWhat} - вызываются командой 
        b
            u баквит #{command}
        |  #{place}

+faq('Какие есть настройки?')
    |
    | Настройки бывают 
    u следующими
    | :
    |
    +pins([
        ['чата', 'настройки', 'в чате'],
        ['пользователя', 'настройки', 'у меня в личных сообщениях'],
        ['имен рангов', 'ранги', ''],
        ['доступа команд', 'дк', ''],
        ['доступа кнопок', 'дб', ''],
    ])