include utils/mixins.pug

+faq('Почему именно Гниды, Гадины и прочее?')
    | В 
    a(href="t.me/envell_chat") чате 
    | по разработке игры по Героям Энвелла, 
    code Ае 
    tg-spoiler (разработчик игры)
    |  назвал 
    code Рул
    | 'а 
    tg-spoiler (мой создатель)
    |  гнидой за то, что создатель ломает ему сервер для игры.
    | Игроки, находящиеся в чате, расфорсили это и, в итоге, появилась эта иерархия!