include utils/mixins.pug

+faq(`Как пользоваться командой ''баквит правила'' на примерах`)
    |
    +command_description('правила', 'показывает все правила, что есть в чате')
    +command_description('правила удалить 10', 'удаляет правило №10')
    +command_description('правила добавить любой текст', 'добавляет в конец списка новое правила с текстом "любой текст"')
    +command_description('правила дополнить 12 любой текст', 'добавляет дополнительную строчку "любой текст" к правилу №12')
    +command_description('правила сбросить', 'удаляет все правила, которые есть в чате')