include utils/mixins.pug

+faq(`Как пользоваться командой ''баквит рп'' на примерах`)
    |
    +command_description('рп', 'показывает все рп-команды, что есть в чате')
    +command_description('рп список', 'то же самое, что и баквит рп')
    +command_description('рп добавить объяснить объяснил', 'создает новую рп-команду.\nТеперь при написании команды "баквит объяснить" и выделив чье-то сообщение, будет вызвано сообщение "Игрок <ваш ник> объяснил игрока <ник игрока, чье сообщение вы выделили>"')
    +command_description('рп удалить объяснить', 'удаляет рп-команду "баквит объяснить"')
    +command_description('рп падеж объяснить д', 'меняет падеж рп-команды обьяснить на дательный.\nТеперь ответ выглядит так: "Игрок <ваш ник> объяснил игроку <ник игрока, чье сообщение вы выделили>"\nТакже существуют другие падежи: р - родительный, т - творительный')
    +command_description('рп редактировать объяснить долго объяснял', 'редактирует сообщение команды.\nТеперь ответ выглядит так: "Игрок <ваш ник> долго объяснял игроку <ник игрока, чье сообщение вы выделили>"')