include utils/mixins.pug

+faq('РЫНОК:')
    |
    | В Мире Энвелла существует механика 
    b рынка
    | . Она позволяет игрокам продавать любые предметы из инвентаря в любых количествах по любой цене.
    | 
    | Игрок может продать ненужный ему предмет или, наоборот, купить нужный, выставленный другим игроком, часто с хорошей скидкой.
    | 
    | Для того, чтобы посмотреть товары на рынке, нужно попасть на рынок.
    | Есть два способа: баквит рынок или через инвентарь 
    tg-spoiler (баквит вещи -> На рынок)
    | .
    | 
    | Также можно найти только нужные вещи, нажав на предмет в инвентаре, после чего нажать на кнопку 
    u Купить еще
    | .
    | 
    | Чтобы продать предмет, нужно также нажать на предмет в инвентаре, после чего нажать на кнопку 
    u Продать
    | , выставить количество и цену