include utils/mixins.pug

+faq('Рынок:')
    |
    | Согласно правилам, я могу отвечать на команду 
    code баквит рынок
    | !
    | Игрок может купить там вещь, выставленную другим игроком, либо продать самостоятельно!
    |
    |
    b Для того, чтобы самому выставить предмет, нужно:
    |
    | - Зайти в инвентарь (через команду 
    code баквит инвентарь
    | ), 
    | - Выбрать товар
    | - Нажать на кнопку продать
    | - Выбрать количество и назначить цену. 
    |
    | После данных действий товар окажется на полках рынка!