b СИНТАКСИС КОМАНД В БАКВИТЕ:
| 
| 
| Любая команда в Баквите состоит из 3 частей: 
code (имя) (команда) [остальное]
| 
| 
| - 
b имя 
| - слово, определяющее является ли сообщение командой. Может быть: 
code баквит
| , 
code гречка
| , 
code баквид
| 
| 
| - 
b команда 
| - слово, говорящее Баквиту, что ты от него хочешь. Доступные команды можно узнать с помощью 
code баквит команды
| 
| 
| - 
b остальное 
| - текст после команды, нужен для большинства команд, содержание зависит от команды
|
|
i Пример:
| 
| ✅ 
code баквит мут 1д причина
| 
| 
| ❌ 
code мут 1д причина
| 