b Ранг 
| - это уровень административных способностей. Чем выше, тем больше можете!
|
| Чтобы его получить, воспользуйтесь командами 
code баквит создатель
|  или 
code баквит ранг [0-5]
| , если на другого человека!