include utils/mixins.pug

mixin chance(emoji, title, chance)
    | โ #{emoji} 
    code #{title}
    |   -    ~
    u #{chance}
    | %
    |

mixin chances(arr)
    - const maxTitleLength = Math.max(...arr.map(v => v[1].length))
    each obj in arr
        if obj.length >= 3
            +chance(obj[0], obj[1].padEnd(maxTitleLength, ' '), obj[2])
            |

+faq('๐ ะจะฐะฝัั ะฒ ะบะฐััะพัะบะฐั')
    +chances([
        ['โช๏ธ', 'ะะฐะทะพะฒัะน', 60],
        ['๐ต', 'ะะตะพะฑััะฝัะน', 24],
        ['๐ข', 'ะะตะดะบะธะน', 9.5],
        ['๐ฃ', 'ะญะฟะธัะตัะบะธะน', 3.8],
        ['๐ก', 'ะะตะณะตะฝะดะฐัะฝัะน', 1.5],
        ['๐ด', 'ะฃะฝะธะบะฐะปัะฝัะน', 1],
    ])

